<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/main.css" />
		<title>Authentication test</title>
	</head>
	<body>
		<div id="bodyContainer">{{{ body }}}</div>
	</body>
</html>